<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
  <a class="navbar-brand" routerLink="/">Pad 19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#extendedControlsMenu" aria-controls="extendedControlsMenu" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="extendedControlsMenu">
    <ul class="navbar-nav ml-auto pr-2">
      <li *ngIf="afAuth.authState | async;"
        class="nav-item">
        <a class="nav-link" routerLink="/conference" routerLinkActive="active">Conference Section</a>
      </li>
      <li *ngIf="afAuth.authState | async; let user; else logInLink" ngbDropdown
        class="nav-item dropdown">
        <a ngbDropdownToggle
          class="nav-link dropdown-toggle" href="#" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.displayName }}
        </a>
        <div ngbDropdownMenu
          class="dropdown-menu" aria-labelledby="userMenuDropdown">
          <a (click)=logOut() class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
      <ng-template #logInLink>
        <li class="nav-item">
          <a href="#" class="nav-link" (click)=logIn()>Log In with Google</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
